.header {
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
  &__scroll {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 65px;
    height: 65px;
    color: $color-txt;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 3;
    margin-bottom: 20px;
    animation: 1s updown ease infinite alternate;
    transition: .5s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    @keyframes updown {
      0% {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
      }
      100% {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
      }
    }
    &-txt {
      @include rem(14);
      font-family: $font-en2;
      letter-spacing: $ls-en-txt;
      margin-bottom: 2px;
    }
    &-img {
      width: 15px;
      height: 15px;
    }
  } //    メニューボタン
  &__menu-trigger,
  &__menu-trigger span {
    z-index: 10;
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  &__menu-trigger {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 44px;
    transform: scale(0.6);
  }
  &__menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  &__menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  &__menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
  &__menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  &__menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  &__menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  &__menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  } //    メニューボタンここまで
  &__logo {
    width: 155px;
    height: 192px;
    background: url(../img/mv_logo@2x.png);
    background-size: 100% 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    z-index: -1;
  }
  &__nav {
    display: none;
    background-color: rgba(27, 27, 27, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    &-list {
      width: 320px;
      height: 320px;
      list-style-type: none;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      margin: auto;
    }
    &-item {
      text-align: center;
      padding: 20px;
    }
    &-link {
      @include rem(18);
      color: $color-txt;
      font-family: $font-title;
      text-decoration: none;
      letter-spacing: $ls-title;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__menu-trigger {
      display: none;
    }
    &__nav {
      display: block !important;
      background-color: transparent;
      background-image: linear-gradient(180deg, rgba(27, 27, 27, 0.3), rgba(27, 27, 27, 0.0));
      height: 50px;
      &-list {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        width: auto;
        height: auto;
        max-width: 1000px;
        margin: 0 auto;
      }
      &-item {
        padding: 20px 0;
      }
      &-link {
        @include rem(12);
        transition: .3s;
        &:hover {
          color: $color-hover;
        }
      }
    }
  }
}
