.sec-staff {
  background-color: $color-base;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__box {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    &-pos {
      font-family: $font-en;
      @include rem(12);
      letter-spacing: $ls-en-txt;
      margin-bottom: 15px;
    }
    &-name {
      font-family: $font-en2;
      @include rem(14);
      letter-spacing: $ls-en-txt;
      ;
    }
  }
}
